.about {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

    .avatar {

        img {
            position: relative;
            border: 1.6rem solid rgba(255, 255, 255, 0.02);
            border-radius: 50%;
            width: 30vmin;
            height: 30vmin;
            object-fit: cover;
            object-position: center;
            display: block;
            margin-left: auto;
            margin-right: auto;

            @media (max-width: 1025px) {
                width: 25vmin;
                height: 25vmin;                
            }

            @media (max-width: 576px) {
                width: 50vmin;
                height: 50vmin;        
                margin-top: 60px        
            }
        }

        .social {
            margin-top: 20px;
            display: block;
            margin-left: auto;

            .email {
                animation-delay: 1s;
            }

            .github {
                animation-delay: 1.5s;
            }

            .linkedin {
                animation-delay: 2s;
            }

            svg {
                font-size: 40px;
                padding: 0px 5px;
            }
        }
    }

    .desc {
        max-width: 600px;

        h4 {
            margin: 20px 0px;
            color: #4a4285;
            font-weight: 600;
        }

        .position {
            animation-delay: 0.5s;
        }

        .text {
            animation-delay: 1s;
        }

        .button {
            animation-delay: 1.5s; 
        }

        @media (max-width: 576px) {
            .name {
                animation-delay: 1.5s;
            }

            .position {
                animation-delay: 2s;
            }

            .text {
                animation-delay: 2.5s;
            }

        }

        h3, h4, p {
            margin-bottom: 20px;

            @media (max-width: 576px) {
                text-align: center;
            }
        }

        @media (max-width: 576px) {
            p {
                font-size: 15px;
                line-height: 1.5;
            }
        }

        .cv-button {

            @media (max-width: 576px) {
                display: flex;
                justify-content: center;            
            }

            .cv-download {
                background-color: $primaryColor;
                border-radius: 5px;
                color: black !important;
                padding: 10px 20px;
                transition: background .3s ease-in-out;
                font-size: 20px;
                margin-bottom: 50px;
    
                &::before {
                    display: none;
                }
    
                &:hover {
                    background: black;
                    color: $primaryColor !important;
                }
    
                svg {
                    margin-right: 10px;
                }     
            }
        }
    }

    @media (max-width: 576px) {
        h3 {
            margin-top: 35px;
        }
         
        flex-direction: column;  
        justify-content: flex-start;
        padding: 0px 15px;       
    }
}