.scroll-top-button {
    z-index: 2;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    a{
        font-size: 25px;
        transition: all .5s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: $primaryColor;
        color: black !important;
        padding: 10px;

        &::before {
            display: none;
        }

        &:hover {
            color: $primaryColor !important;
            background: black;
        }
    }

}